<div class="col-md-6 col-md-offset-3">
    <div class="page-header ">
        <h3>Reportees</h3>
        <br />

    </div>
    <br />
    <div class="btn-group">
        <a class="btn btn-default">{{location!=null && location!=''? location:'Select'}}</a>
        <a   class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li ng-repeat="c in locationChoices" ng-click="onLocationSelect(c)"><a>{{c}}</a></li>
        </ul>
    </div>
    <br />
    <table class="table table-responsive table-hover">
        <thead>
            <tr class="active">
                <th><h4>empno</h4></th>
                <th><h4>email</h4></th>
                <th><h4>alias</h4></th>
                <th><h4>location</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr employee="r" employee-row ng-repeat="r in reportees|locationWise:location"></tr>
            
        </tbody>
    </table>
</div>