<div ng-controller="testController">

    <!--<dir-one></dir-one>
    <dir-two></dir-two>

    <dir-three  on-call="onClickSomething(something)" user="user" message="message"></dir-three>

    <div class="page-header">
        Controller
    </div>
    <br />
    {{user.alias}}
    <br />
    {{message}}-->
    <div class="col-md-6 col-md-offset-3">

        <my-frame>
            <dir-three on-call="onClickSomething(something)" user="user" message="message"></dir-three>
        </my-frame>
        <br />
        <level-three></level-three>
    </div>

    <!--<div>
        <level-one>
            <level-two>
                <level-three></level-three>
            </level-two>
        </level-one>
    </div>-->

</div>
