<div ng-controller="testController">

    <!--<dir-one></dir-one>
    <dir-two></dir-two>

    <dir-three  on-call="onClickSomething(something)" user="user" message="message"></dir-three>

    <div class="page-header">
        Controller
    </div>
    <br />
    {{user.alias}}
    <br />
    {{message}}-->
    <div class="col-md-6 col-md-offset-3">

        <my-frame>
            <p>Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.</p>
        </my-frame>
        <br />
        <my-frame>
            <table>
                <thead>
                    <tr>
                        <th>Empno</th>
                    </tr>
                </thead>
            </table>
        </my-frame>
    </div>
</div>
