<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
        <div class="panel-heading"  style="cursor:pointer" ng-click="toggleCollapse()">
            <h3 class="panel-title">Niranjan Awati</h3>
        </div>
        <div class="panel-body" ng-hide="collapse==false">
           <!-- there has to be a placeholder here .. so that angular knows he has to put dyn content here -->
            <ng-transclude></ng-transclude>
        </div>

    </div>

</div>